@import "tailwindcss";

@theme {
  --color-primary: #181C14;
  --color-secondary: #3C3D37;
  --color-accent: #697565;
  --color-text: #ECDFCC;
}

h1 {
  color: var(--color-text);
}

h2 {
  color: var(--color-text);
}

p {
  color: var(--color-text);
}

